{
  "presets": [
    "flow",
    "env"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "comments": false,
  "ignore": [
    "interface.js"
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }],
        "minify",
        "flow"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}