{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env",{
      "shippedProposals": true,
      "targets": {
        "node": "9.4.0"
      }
    }]
  ],
  "plugins": [
    "transform-class-properties"
  ]
}